/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #efefef;
}

.loader {
  display: block;
  position: fixed;
  z-index: 999;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border: 5px solid #ccc;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}